In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [2]:
df = pd.read_csv('./ipumsi_00009(1).csv')

In [3]:
d4 = pd.read_csv('./ipumsi_00008.csv')

In [4]:
d4.columns

Index(['COUNTRY', 'YEAR', 'SAMPLE', 'SERIAL', 'PERSONS', 'HHWT', 'SUBSAMP',
       'GQ', 'UNREL', 'GEOLEV1', 'GEOLEV2', 'GEO1_PH', 'GEO1_PH2010',
       'GEO2_PH', 'GEO2_PH2010', 'OWNERSHIP', 'OWNERSHIPD', 'LANDOWN',
       'TOILET', 'WALL', 'ROOF', 'BUILTYR', 'AGESTRUCT2', 'LIVEAREA', 'HHTYPE',
       'NFAMS', 'NCOUPLES', 'NMOTHERS', 'NFATHERS', 'HEADLOC', 'PERNUM',
       'PERWT'],
      dtype='object')

In [5]:
d4.head()

,COUNTRY,YEAR,SAMPLE,SERIAL,PERSONS,HHWT,SUBSAMP,GQ,UNREL,GEOLEV1,GEOLEV2,GEO1_PH,GEO1_PH2010,GEO2_PH,GEO2_PH2010,OWNERSHIP,OWNERSHIPD,LANDOWN,TOILET,WALL,ROOF,BUILTYR,AGESTRUCT2,LIVEAREA,HHTYPE,NFAMS,NCOUPLES,NMOTHERS,NFATHERS,HEADLOC,PERNUM,PERWT
0,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,1,10.58
1,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,2,8.82
2,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,3,8.82
3,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,4,8.82
4,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,5,11.04

In [6]:
geolev2 = d4['GEOLEV2'].unique().tolist()
len(geolev2)

1274

In [7]:
print(d4.shape)
print(df.shape)

(9411256, 32)
(9411256, 36)

In [8]:
comb = pd.merge(d4,df)

In [9]:
comb.head(20)

,COUNTRY,YEAR,SAMPLE,SERIAL,PERSONS,HHWT,SUBSAMP,GQ,UNREL,GEOLEV1,GEOLEV2,GEO1_PH,GEO1_PH2010,GEO2_PH,GEO2_PH2010,OWNERSHIP,OWNERSHIPD,LANDOWN,TOILET,WALL,ROOF,BUILTYR,AGESTRUCT2,LIVEAREA,HHTYPE,NFAMS,NCOUPLES,NMOTHERS,NFATHERS,HEADLOC,PERNUM,PERWT,RELATE,RELATED,AGE,SEX,EDUCPH,OVERSEA,PERNUM_HEAD,PERWT_HEAD,RELATE_HEAD,RELATED_HEAD,AGE_HEAD,SEX_HEAD,EDUCPH_HEAD,OVERSEA_HEAD
0,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,1,10.58,1,1000,39,1,44,2,1,10.58,1,1000,39,1,44,2
1,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,2,8.82,2,2000,36,2,33,2,1,10.58,1,1000,39,1,44,2
2,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,3,8.82,3,3000,12,2,33,2,1,10.58,1,1000,39,1,44,2
3,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,4,8.82,3,3000,10,2,31,2,1,10.58,1,1000,39,1,44,2
4,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,5,11.04,3,3000,9,2,23,0,1,10.58,1,1000,39,1,44,2
5,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,6,9.89,3,3000,7,1,22,0,1,10.58,1,1000,39,1,44,2
6,608,2010,608201001,1000,7,9.7,26,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,10,300,44,2000,15,1,3,1,1,1,1,1,7,9.69,3,3000,1,2,0,0,1,10.58,1,1000,39,1,44,2
7,608,2010,608201001,2000,6,9.7,76,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,22,300,44,1990,25,1,6,1,1,1,1,1,1,9.53,1,1000,68,1,32,2,1,9.53,1,1000,68,1,32,2
8,608,2010,608201001,2000,6,9.7,76,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,22,300,44,1990,25,1,6,1,1,1,1,1,2,10.75,2,2000,66,2,31,2,1,9.53,1,1000,68,1,32,2
9,608,2010,608201001,2000,6,9.7,76,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,22,300,44,1990,25,1,6,1,1,1,1,1,3,10.25,3,3000,40,2,11,2,1,9.53,1,1000,68,1,32,2
10,608,2010,608201001,2000,6,9.7,76,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,22,300,44,1990,25,1,6,1,1,1,1,1,4,10.45,4,4100,3,1,0,0,1,9.53,1,1000,68,1,32,2
11,608,2010,608201001,2000,6,9.7,76,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,22,300,44,1990,25,1,6,1,1,1,1,1,5,9.89,4,4100,9,1,23,0,1,9.53,1,1000,68,1,32,2
12,608,2010,608201001,2000,6,9.7,76,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,22,300,44,1990,25,1,6,1,1,1,1,1,6,11.04,4,4100,6,2,21,0,1,9.53,1,1000,68,1,32,2
13,608,2010,608201001,3000,1,9.7,2,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,21,502,31,1990,25,10,1,1,0,0,0,1,1,10.75,1,1000,66,2,69,2,1,10.75,1,1000,66,2,69,2
14,608,2010,608201001,4000,1,9.7,92,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,22,300,31,1980,35,5,1,1,0,0,0,1,1,10.75,1,1000,85,2,24,2,1,10.75,1,1000,85,2,24,2
15,608,2010,608201001,5000,7,9.7,81,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,21,502,31,1990,25,10,6,1,2,2,2,1,1,10.11,1,1000,64,1,44,2,1,10.11,1,1000,64,1,44,2
16,608,2010,608201001,5000,7,9.7,81,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,21,502,31,1990,25,10,6,1,2,2,2,1,2,9.84,2,2000,53,2,53,2,1,10.11,1,1000,64,1,44,2
17,608,2010,608201001,5000,7,9.7,81,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,21,502,31,1990,25,10,6,1,2,2,2,1,3,10.54,3,3000,19,1,61,2,1,10.11,1,1000,64,1,44,2
18,608,2010,608201001,5000,7,9.7,81,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,21,502,31,1990,25,10,6,1,2,2,2,1,4,9.26,3,3000,15,2,33,2,1,10.11,1,1000,64,1,44,2
19,608,2010,608201001,5000,7,9.7,81,10,0,608059,608059005,608059,59,608059005,59004,1,100,10,21,502,31,1990,25,10,6,1,2,2,2,1,5,10.32,3,3000,21,1,43,2,1,10.11,1,1000,64,1,44,2

# Avg. Household Size

In [10]:
avg_hhold_size = comb.groupby(['GEOLEV2'])['PERSONS'].mean()

In [11]:
avg_hhold_size = pd.DataFrame(avg_hhold_size).reset_index()

In [12]:
avg_hhold_size.columns = ['GEOLEV2','sovi13']
#avg_hhold_size

In [13]:
sovi = avg_hhold_size

In [14]:
sovi

        GEOLEV2    sovi13
0     608001001  5.542781
1     608001002  5.621527
2     608001003  6.224702
3     608001004  5.879852
4     608001005  5.729422
5     608001006  6.205630
6     608002001  5.843483
7     608002002  5.801728
8     608002003  5.870985
9     608002004  6.359186
10    608002005  5.887965
11    608002006  6.771429
12    608002007  5.769871
13    608002008  6.549029
14    608002009  5.881238
15    608003001  5.876122
16    608003002  5.911844
17    608003003  5.811478
18    608003004  6.179407
19    608003005  5.530115
20    608003006  5.738585
21    608003007  6.030765
22    608003008  5.825210
23    608003009  5.664679
24    608003010  5.959403
25    608003011  5.981552
26    608003012  6.091950
27    608003013  6.099231
28    608003014  5.645451
29    608004001  5.499933
...         ...       ...
1244  608073029  6.154246
1245  608073030  5.766286
1246  608073031  5.414674
1247  608073032  5.423403
1248  608073033  5.815630
1249  608073034  5.399501
1250  608073035  6.457988
1251  608073036  5.397942
1252  608073037  5.484938
1253  608074001  5.434247
1254  608074005  5.331780
1255  608074012  5.653625
1256  608074015  5.167890
1257  608074034  5.148133
1258  608075002  5.293818
1259  608075003  5.109177
1260  608075020  5.138711
1261  608076004  5.259074
1262  608076007  5.262791
1263  608076009  5.251325
1264  608076011  5.514833
1265  608076013  5.079094
1266  608076058  5.364823
1267  608076078  5.189275
1268  608077001  5.423913
1269  608077002  5.517392
1270  608077003  5.708491
1271  608077004  5.285604
1272  608077005  5.554992
1273  608077006  5.451873

[1274 rows x 2 columns]

# Number of People per GEOLEV2

In [15]:
number_persons = comb.groupby(['GEOLEV2'])['SERIAL'].count()
#number_persons

In [16]:
# geo1001 = comb[comb['GEOLEV2'] == 608001001]
# geo1001 = geo1001.drop_duplicates(subset = ['SERIAL'], keep = 'first')
# geo1001['PERSONS'].sum()

In [17]:
sovi['num_persons'] = number_persons.tolist()

In [18]:
sovi

        GEOLEV2    sovi13  num_persons
0     608001001  5.542781         7480
1     608001002  5.621527         5435
2     608001003  6.224702         3271
3     608001004  5.879852         2705
4     608001005  5.729422         2284
5     608001006  6.205630         3268
6     608002001  5.843483        30872
7     608002002  5.801728         8332
8     608002003  5.870985         7534
9     608002004  6.359186         4126
10    608002005  5.887965         4088
11    608002006  6.771429         2730
12    608002007  5.769871         2164
13    608002008  6.549029         2111
14    608002009  5.881238         2004
15    608003001  5.876122         9800
16    608003002  5.911844         7464
17    608003003  5.811478         7214
18    608003004  6.179407         5128
19    608003005  5.530115         4599
20    608003006  5.738585         3986
21    608003007  6.030765         3933
22    608003008  5.825210         3570
23    608003009  5.664679         3689
24    608003010  5.959403         3621
25    608003011  5.981552         3144
26    608003012  6.091950         2969
27    608003013  6.099231         2862
28    608003014  5.645451         2451
29    608004001  5.499933         7489
...         ...       ...          ...
1244  608073029  6.154246         2885
1245  608073030  5.766286         2717
1246  608073031  5.414674         2426
1247  608073032  5.423403         2598
1248  608073033  5.815630         2636
1249  608073034  5.399501         4005
1250  608073035  6.457988         2535
1251  608073036  5.397942         2332
1252  608073037  5.484938         2025
1253  608074001  5.434247       360389
1254  608074005  5.331780        58816
1255  608074012  5.653625        40791
1256  608074015  5.167890        28340
1257  608074034  5.148133         9694
1258  608075002  5.293818       152319
1259  608075003  5.109177        90605
1260  608075020  5.138711        23329
1261  608076004  5.259074        55930
1262  608076007  5.262791        63092
1263  608076009  5.251325        53779
1264  608076011  5.514833        51170
1265  608076013  5.079094        38840
1266  608076058  5.364823         6436
1267  608076078  5.189275        40745
1268  608077001  5.423913         4968
1269  608077002  5.517392         3881
1270  608077003  5.708491         3698
1271  608077004  5.285604         2591
1272  608077005  5.554992         2364
1273  608077006  5.451873         2483

[1274 rows x 3 columns]

# % Female

In [19]:
from sklearn.preprocessing import LabelEncoder
discreteCoder_X = LabelEncoder()

In [20]:
comb_values = comb.values
#comb_values

In [21]:
#Make the SEX columns binary
comb_values[:,35] = discreteCoder_X.fit_transform(comb_values[:,35])

In [22]:
comb2 = pd.DataFrame(comb_values)
comb2.columns = comb.columns

In [23]:
num_female = comb2.groupby(['GEOLEV2'])['SEX'].sum()
#num_female

In [24]:
sovi['num_female'] = num_female.tolist()
#sovi

In [25]:
sovi['sovi1'] = sovi['num_female']/sovi['num_persons']
#sovi

# % Children (Under 15)

In [26]:
comb2['children'] = np.nan
comb2.head()

,COUNTRY,YEAR,SAMPLE,SERIAL,PERSONS,HHWT,SUBSAMP,GQ,UNREL,GEOLEV1,GEOLEV2,GEO1_PH,GEO1_PH2010,GEO2_PH,GEO2_PH2010,OWNERSHIP,OWNERSHIPD,LANDOWN,TOILET,WALL,ROOF,BUILTYR,AGESTRUCT2,LIVEAREA,HHTYPE,NFAMS,NCOUPLES,NMOTHERS,NFATHERS,HEADLOC,PERNUM,PERWT,RELATE,RELATED,AGE,SEX,EDUCPH,OVERSEA,PERNUM_HEAD,PERWT_HEAD,RELATE_HEAD,RELATED_HEAD,AGE_HEAD,SEX_HEAD,EDUCPH_HEAD,OVERSEA_HEAD,children
0,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,10.58,1.0,1000.0,39.0,0.0,44.0,2.0,1.0,10.58,1.0,1000.0,39.0,1.0,44.0,2.0,NaN
1,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,8.82,2.0,2000.0,36.0,1.0,33.0,2.0,1.0,10.58,1.0,1000.0,39.0,1.0,44.0,2.0,NaN
2,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,3.0,8.82,3.0,3000.0,12.0,1.0,33.0,2.0,1.0,10.58,1.0,1000.0,39.0,1.0,44.0,2.0,NaN
3,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,4.0,8.82,3.0,3000.0,10.0,1.0,31.0,2.0,1.0,10.58,1.0,1000.0,39.0,1.0,44.0,2.0,NaN
4,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,5.0,11.04,3.0,3000.0,9.0,1.0,23.0,0.0,1.0,10.58,1.0,1000.0,39.0,1.0,44.0,2.0,NaN

In [27]:
#create binary children column based on the age column
comb2.loc[comb2['AGE'] < 15, 'children'] = 1
comb2.loc[comb2['AGE'] >= 15, 'children'] = 0

In [28]:
num_children = comb2.groupby(['GEOLEV2'])['children'].sum()
num_children

GEOLEV2
608001001.0      2237.0
608001002.0      1765.0
608001003.0      1068.0
608001004.0       823.0
608001005.0       736.0
608001006.0      1019.0
608002001.0     10463.0
608002002.0      2820.0
608002003.0      2635.0
608002004.0      1515.0
608002005.0      1407.0
608002006.0      1157.0
608002007.0       794.0
608002008.0       747.0
608002009.0       797.0
608003001.0      3661.0
608003002.0      2801.0
608003003.0      2553.0
608003004.0      2142.0
608003005.0      1602.0
608003006.0      1468.0
608003007.0      1647.0
608003008.0      1329.0
608003009.0      1333.0
608003010.0      1395.0
608003011.0      1279.0
608003012.0      1150.0
608003013.0      1159.0
608003014.0       942.0
608004001.0      2013.0
                 ...
608073029.0      1065.0
608073030.0      1061.0
608073031.0       921.0
608073032.0       879.0
608073033.0      1030.0
608073034.0      1526.0
608073035.0      1120.0
608073036.0       879.0
608073037.0       641.0
608074001.0    107758.0
608074005.0     17340.0
608074012.0     11399.0
608074015.0      7828.0
608074034.0      2312.0
608075002.0     48640.0
608075003.0     27687.0
608075020.0      7617.0
608076004.0     16197.0
608076007.0     19498.0
608076009.0     15115.0
608076011.0     12666.0
608076013.0     10865.0
608076058.0      1920.0
608076078.0     12025.0
608077001.0      1830.0
608077002.0      1295.0
608077003.0      1250.0
608077004.0       913.0
608077005.0       863.0
608077006.0       986.0
Name: children, Length: 1274, dtype: float64

In [29]:
sovi['num_children'] = num_children.tolist()
sovi

        GEOLEV2    sovi13  num_persons  num_female     sovi1  num_children
0     608001001  5.542781         7480      3719.0  0.497193        2237.0
1     608001002  5.621527         5435      2669.0  0.491076        1765.0
2     608001003  6.224702         3271      1550.0  0.473861        1068.0
3     608001004  5.879852         2705      1354.0  0.500555         823.0
4     608001005  5.729422         2284      1134.0  0.496497         736.0
5     608001006  6.205630         3268      1591.0  0.486842        1019.0
6     608002001  5.843483        30872     15249.0  0.493943       10463.0
7     608002002  5.801728         8332      4099.0  0.491959        2820.0
8     608002003  5.870985         7534      3693.0  0.490178        2635.0
9     608002004  6.359186         4126      2013.0  0.487882        1515.0
10    608002005  5.887965         4088      1967.0  0.481164        1407.0
11    608002006  6.771429         2730      1255.0  0.459707        1157.0
12    608002007  5.769871         2164      1061.0  0.490296         794.0
13    608002008  6.549029         2111      1043.0  0.494079         747.0
14    608002009  5.881238         2004       969.0  0.483533         797.0
15    608003001  5.876122         9800      4773.0  0.487041        3661.0
16    608003002  5.911844         7464      3581.0  0.479770        2801.0
17    608003003  5.811478         7214      3511.0  0.486693        2553.0
18    608003004  6.179407         5128      2479.0  0.483424        2142.0
19    608003005  5.530115         4599      2232.0  0.485323        1602.0
20    608003006  5.738585         3986      1856.0  0.465630        1468.0
21    608003007  6.030765         3933      1912.0  0.486143        1647.0
22    608003008  5.825210         3570      1681.0  0.470868        1329.0
23    608003009  5.664679         3689      1701.0  0.461101        1333.0
24    608003010  5.959403         3621      1706.0  0.471141        1395.0
25    608003011  5.981552         3144      1473.0  0.468511        1279.0
26    608003012  6.091950         2969      1423.0  0.479286        1150.0
27    608003013  6.099231         2862      1408.0  0.491964        1159.0
28    608003014  5.645451         2451      1199.0  0.489188         942.0
29    608004001  5.499933         7489      3770.0  0.503405        2013.0
...         ...       ...          ...         ...       ...           ...
1244  608073029  6.154246         2885      1464.0  0.507452        1065.0
1245  608073030  5.766286         2717      1283.0  0.472212        1061.0
1246  608073031  5.414674         2426      1164.0  0.479802         921.0
1247  608073032  5.423403         2598      1257.0  0.483834         879.0
1248  608073033  5.815630         2636      1317.0  0.499621        1030.0
1249  608073034  5.399501         4005      1934.0  0.482896        1526.0
1250  608073035  6.457988         2535      1274.0  0.502564        1120.0
1251  608073036  5.397942         2332      1127.0  0.483276         879.0
1252  608073037  5.484938         2025       986.0  0.486914         641.0
1253  608074001  5.434247       360389    184123.0  0.510901      107758.0
1254  608074005  5.331780        58816     29831.0  0.507192       17340.0
1255  608074012  5.653625        40791     20932.0  0.513152       11399.0
1256  608074015  5.167890        28340     14477.0  0.510833        7828.0
1257  608074034  5.148133         9694      5069.0  0.522901        2312.0
1258  608075002  5.293818       152319     76649.0  0.503214       48640.0
1259  608075003  5.109177        90605     45255.0  0.499476       27687.0
1260  608075020  5.138711        23329     11571.0  0.495992        7617.0
1261  608076004  5.259074        55930     28882.0  0.516395       16197.0
1262  608076007  5.262791        63092     31751.0  0.503249       19498.0
1263  608076009  5.251325        53779     27766.0  0.516298       15115.0
1264  608076011  5.514833        51170     27097.0  0.529549       12666.0
1265  608076013  5.079094        38840     19936.0  0.513285       10865.0
1266  608076058  5.364823         6436      3210.0  0.498757        1920.0
1267  608076078  5.189275        40745     20812.0  0.510787       12025.0
1268  608077001  5.423913         4968      2339.0  0.470813        1830.0
1269  608077002  5.517392         3881      1891.0  0.487246        1295.0
1270  608077003  5.708491         3698      1830.0  0.494862        1250.0
1271  608077004  5.285604         2591      1236.0  0.477036         913.0
1272  608077005  5.554992         2364      1162.0  0.491540         863.0
1273  608077006  5.451873         2483      1200.0  0.483286         986.0

[1274 rows x 6 columns]

In [30]:
sovi['sovi2'] = sovi['num_children']/sovi['num_persons']
sovi

,GEOLEV2,sovi13,num_persons,num_female,sovi1,num_children,sovi2
0,608001001,5.542781,7480,3719.0,0.497193,2237.0,0.299064
1,608001002,5.621527,5435,2669.0,0.491076,1765.0,0.324747
2,608001003,6.224702,3271,1550.0,0.473861,1068.0,0.326506
3,608001004,5.879852,2705,1354.0,0.500555,823.0,0.304251
4,608001005,5.729422,2284,1134.0,0.496497,736.0,0.322242
5,608001006,6.205630,3268,1591.0,0.486842,1019.0,0.311812
6,608002001,5.843483,30872,15249.0,0.493943,10463.0,0.338916
7,608002002,5.801728,8332,4099.0,0.491959,2820.0,0.338454
8,608002003,5.870985,7534,3693.0,0.490178,2635.0,0.349748
9,608002004,6.359186,4126,2013.0,0.487882,1515.0,0.367184
10,608002005,5.887965,4088,1967.0,0.481164,1407.0,0.344178
11,608002006,6.771429,2730,1255.0,0.459707,1157.0,0.423810
12,608002007,5.769871,2164,1061.0,0.490296,794.0,0.366913
13,608002008,6.549029,2111,1043.0,0.494079,747.0,0.353861
14,608002009,5.881238,2004,969.0,0.483533,797.0,0.397705
15,608003001,5.876122,9800,4773.0,0.487041,3661.0,0.373571
16,608003002,5.911844,7464,3581.0,0.479770,2801.0,0.375268
17,608003003,5.811478,7214,3511.0,0.486693,2553.0,0.353895
18,608003004,6.179407,5128,2479.0,0.483424,2142.0,0.417707
19,608003005,5.530115,4599,2232.0,0.485323,1602.0,0.348337
20,608003006,5.738585,3986,1856.0,0.465630,1468.0,0.368289
21,608003007,6.030765,3933,1912.0,0.486143,1647.0,0.418764
22,608003008,5.825210,3570,1681.0,0.470868,1329.0,0.372269
23,608003009,5.664679,3689,1701.0,0.461101,1333.0,0.361345
24,608003010,5.959403,3621,1706.0,0.471141,1395.0,0.385253
25,608003011,5.981552,3144,1473.0,0.468511,1279.0,0.406807
26,608003012,6.091950,2969,1423.0,0.479286,1150.0,0.387336
27,608003013,6.099231,2862,1408.0,0.491964,1159.0,0.404962
28,608003014,5.645451,2451,1199.0,0.489188,942.0,0.384333
29,608004001,5.499933,7489,3770.0,0.503405,2013.0,0.268794
...,...,...,...,...,...,...,...
1244,608073029,6.154246,2885,1464.0,0.507452,1065.0,0.369151
1245,608073030,5.766286,2717,1283.0,0.472212,1061.0,0.390504
1246,608073031,5.414674,2426,1164.0,0.479802,921.0,0.379637
1247,608073032,5.423403,2598,1257.0,0.483834,879.0,0.338337
1248,608073033,5.815630,2636,1317.0,0.499621,1030.0,0.390744
1249,608073034,5.399501,4005,1934.0,0.482896,1526.0,0.381024
1250,608073035,6.457988,2535,1274.0,0.502564,1120.0,0.441815
1251,608073036,5.397942,2332,1127.0,0.483276,879.0,0.376930
1252,608073037,5.484938,2025,986.0,0.486914,641.0,0.316543
1253,608074001,5.434247,360389,184123.0,0.510901,107758.0,0.299005
1254,608074005,5.331780,58816,29831.0,0.507192,17340.0,0.294818
1255,608074012,5.653625,40791,20932.0,0.513152,11399.0,0.279449
1256,608074015,5.167890,28340,14477.0,0.510833,7828.0,0.276217
1257,608074034,5.148133,9694,5069.0,0.522901,2312.0,0.238498
1258,608075002,5.293818,152319,76649.0,0.503214,48640.0,0.319330
1259,608075003,5.109177,90605,45255.0,0.499476,27687.0,0.305579
1260,608075020,5.138711,23329,11571.0,0.495992,7617.0,0.326503
1261,608076004,5.259074,55930,28882.0,0.516395,16197.0,0.289594
1262,608076007,5.262791,63092,31751.0,0.503249,19498.0,0.309041
1263,608076009,5.251325,53779,27766.0,0.516298,15115.0,0.281058
1264,608076011,5.514833,51170,27097.0,0.529549,12666.0,0.247528
1265,608076013,5.079094,38840,19936.0,0.513285,10865.0,0.279737
1266,608076058,5.364823,6436,3210.0,0.498757,1920.0,0.298322
1267,608076078,5.189275,40745,20812.0,0.510787,12025.0,0.295128
1268,608077001,5.423913,4968,2339.0,0.470813,1830.0,0.368357
1269,608077002,5.517392,3881,1891.0,0.487246,1295.0,0.333677
1270,608077003,5.708491,3698,1830.0,0.494862,1250.0,0.338021
1271,608077004,5.285604,2591,1236.0,0.477036,913.0,0.352374
1272,608077005,5.554992,2364,1162.0,0.491540,863.0,0.365059
1273,608077006,5.451873,2483,1200.0,0.483286,986.0,0.397100

# % Elderly

In [31]:
comb2['elderly'] = np.nan
#comb2.head()

In [32]:
#create binary elderly column based on the age column
comb2.loc[comb2['AGE'] >= 60, 'elderly'] = 1
comb2.loc[comb2['AGE'] < 60, 'elderly'] = 0

In [33]:
comb2['elderly'].value_counts()

0.0    8774832
1.0     636424
Name: elderly, dtype: int64

In [34]:
num_elderly = comb2.groupby(['GEOLEV2'])['elderly'].sum()
#num_elderly

In [35]:
sovi['num_elderly'] = num_elderly.tolist()
#sovi

In [36]:
sovi['sovi3'] = sovi['num_elderly']/sovi['num_persons']
#sovi

# % Adults w/ no Secondary Degree

In [37]:
comb2['adult'] = np.nan
#comb2.head()

In [38]:
#create binary children column based on the age column
comb2.loc[comb2['AGE'] < 15, 'adult'] = 0
comb2.loc[comb2['AGE'] >= 15, 'adult'] = 1

In [39]:
comb2['adults_no_sec_degree'] = np.nan

In [40]:
comb2.loc[((comb2['adult'] == 1) & (comb['EDUCPH'] <= 43)), 'adults_no_sec_degree'] = 1
comb2.loc[(comb2['adult'] == 0), 'adults_no_sec_degree'] = 0

In [41]:
#comb2.head()

In [42]:
comb2['adults_no_sec_degree'].value_counts()

0.0    3147452
1.0    2715537
Name: adults_no_sec_degree, dtype: int64

In [43]:
num_adults_no_sec_degree = comb2.groupby(['GEOLEV2'])['adults_no_sec_degree'].sum()
#num_adults_no_sec_degree

In [44]:
sovi['num_adults_no_sec_degree'] = num_adults_no_sec_degree.tolist()
#sovi.head()

In [45]:
sovi['sovi4'] = sovi['num_adults_no_sec_degree']/sovi['num_persons']
#sovi.head()

# % Non-Secondary Graduate Females Aged (20-39)

In [46]:
comb2['age20_39'] = np.nan
comb2['fem20_39'] = np.nan
comb2['fem20_39_nodeg'] = np.nan
#comb2.head()

In [47]:
#create binary age 20-39 column based on the age column
comb2.loc[((comb2['AGE'] >= 20) & (comb2['AGE'] <= 39)), 'age20_39'] = 1
comb2.loc[comb2['AGE'] < 20, 'age20_39'] = 0
comb2.loc[comb2['AGE'] > 39, 'age20_39'] = 0

In [48]:
#create binary females aged 20-39 column based on the age20-39 and SEX column
comb2.loc[((comb2['age20_39'] == 1) & (comb2['SEX'] == 1)), 'fem20_39'] = 1
comb2.loc[(comb2['SEX'] == 0), 'fem20_39'] = 0
comb2.loc[(comb2['age20_39'] == 0), 'fem20_39'] = 0

In [49]:
#create binary females aged 20-39 with no secondary degree column based on the age20-39 and EDUCPH column
comb2.loc[((comb2['fem20_39'] == 1) & (comb['EDUCPH'] <= 43)), 'fem20_39_nodeg'] = 1
comb2.loc[(comb2['fem20_39'] == 0), 'fem20_39_nodeg'] = 0

In [50]:
#comb2.head(20)

In [51]:
num_fem20_39_nodeg = comb2.groupby(['GEOLEV2'])['fem20_39_nodeg'].sum()
#num_fem20_39_nodeg

In [52]:
sovi['num_fem20_39_nodeg'] = num_fem20_39_nodeg.tolist()
#sovi.head()

In [53]:
sovi['sovi5'] = sovi['num_fem20_39_nodeg']/sovi['num_persons']
#sovi.head()

# % Households w/ female head

In [54]:
comb2_values = comb2.values

In [55]:
comb2_values[:,43] = discreteCoder_X.fit_transform(comb_values[:,43])

In [56]:
comb3 = pd.DataFrame(comb2_values)
comb3.columns = comb2.columns

In [57]:
#comb2.head()

In [58]:
num_female_head = comb2.groupby(['GEOLEV2'])['SEX_HEAD'].sum()
#num_female_head

In [59]:
sovi['num_female_head'] = num_female_head.tolist()
#sovi.head()

In [60]:
sovi['sovi6'] = sovi['num_female_head']/sovi['num_persons']
#sovi.head()

# % of households with no overseas workers

In [61]:
overseas = comb3[comb3['OVERSEA'] == 1]
#overseas

In [62]:
overseas_serials = overseas['SERIAL'].unique().tolist()

In [63]:
comb3['overseas_hhold'] = np.nan

In [64]:
#comb3.loc[(comb3['SERIAL'].isin(overseas_serials), 'overseas_hhold'] = 1
comb3.loc[(comb3['SERIAL'].isin(overseas_serials)), 'overseas_hhold'] = 1
comb3.loc[~(comb3['SERIAL'].isin(overseas_serials)), 'overseas_hhold'] = 0

In [65]:
unq_overseas_hhold = comb3.drop_duplicates(subset = ['SERIAL'], keep = 'first')
#unq_overseas_hhold

In [66]:
overseas_hhold = unq_overseas_hhold.groupby(['GEOLEV2'])['overseas_hhold'].sum()
#overseas_hhold

In [67]:
sovi['overseas_hholds'] = overseas_hhold.tolist()
#sovi.head()

In [68]:
hholds = comb3.drop_duplicates(subset = ['SERIAL'], keep = 'first')

In [69]:
num_hholds = hholds.groupby(['GEOLEV2'])['SERIAL'].count()
#num_hholds

In [70]:
sovi['num_hholds'] = num_hholds.tolist()
#sovi.head()

In [71]:
sovi['sovi7'] = sovi['overseas_hholds']/sovi['num_hholds']
#sovi.head()

# % of houses older than 30 years

In [72]:
hhold30 = comb3[comb3['AGESTRUCT2'] > 30]
#hhold30

In [73]:
comb3['hhold_over30'] = np.nan

In [74]:
hhold30_list = hhold30['SERIAL'].unique().tolist()

In [75]:
#comb3.loc[(comb3['SERIAL'].isin(overseas_serials), 'overseas_hhold'] = 1
comb3.loc[(comb3['SERIAL'].isin(hhold30_list)), 'hhold_over30'] = 1
comb3.loc[~(comb3['SERIAL'].isin(hhold30_list)), 'hhold_over30'] = 0

In [76]:
unq_hhold_over30 = comb3.drop_duplicates(subset = ['SERIAL'], keep = 'first')
#unq_hhold_over30

In [77]:
num_hhold_over30 = unq_hhold_over30.groupby(['GEOLEV2'])['hhold_over30'].sum()
#num_hhold_over30

In [78]:
sovi['num_hhold_over30'] = num_hhold_over30.tolist()
#sovi.head()

In [79]:
sovi['sovi8'] = sovi['num_hhold_over30']/sovi['num_hholds']
#sovi.head()

# % households w/ area < 10 sqm

In [80]:
area10 = comb3[comb3['LIVEAREA'] < 10]
#area10

In [81]:
comb3['area10'] = np.nan

In [82]:
area10_list = area10['SERIAL'].unique().tolist()

In [83]:
#comb3.loc[(comb3['SERIAL'].isin(overseas_serials), 'overseas_hhold'] = 1
comb3.loc[(comb3['SERIAL'].isin(area10_list)), 'area10'] = 1
comb3.loc[~(comb3['SERIAL'].isin(area10_list)), 'area10'] = 0

In [84]:
unq_area10 = comb3.drop_duplicates(subset = ['SERIAL'], keep = 'first')
#unq_area10

In [85]:
num_area10 = unq_area10.groupby(['GEOLEV2'])['area10'].sum()
#num_area10

In [86]:
sovi['num_area10'] = num_area10.tolist()
#sovi.head()

In [87]:
sovi['sovi9'] = sovi['num_area10']/sovi['num_hholds']
#sovi.head()

# % of households with no tenure

In [88]:
tenure = comb3[comb3['OWNERSHIP'] == 1]
#tenure

In [89]:
comb3['tenure'] = np.nan

In [90]:
tenure_list = tenure['SERIAL'].unique().tolist()

In [91]:
#comb3.loc[(comb3['SERIAL'].isin(overseas_serials), 'overseas_hhold'] = 1
comb3.loc[(comb3['SERIAL'].isin(tenure_list)), 'tenure'] = 1
comb3.loc[~(comb3['SERIAL'].isin(tenure_list)), 'tenure'] = 0

In [92]:
unq_tenure = comb3.drop_duplicates(subset = ['SERIAL'], keep = 'first')
#unq_tenure

In [93]:
num_tenure = unq_tenure.groupby(['GEOLEV2'])['tenure'].sum()
#num_tenure

In [94]:
sovi['num_tenure'] = num_tenure.tolist()
#sovi.head()

In [95]:
sovi['sovi10'] = 1 - (sovi['num_tenure']/sovi['num_hholds'])
#sovi.head()

# % of Households with a Disabled Person

In [96]:
disabled = pd.read_csv('./ipumsi_00010.csv')

In [97]:
disabled_hhold = disabled[disabled['DISABLED'] == 1]
#disabled_hhold

In [98]:
comb3['disabled'] = np.nan

In [99]:
disabled_list = disabled_hhold['SERIAL'].unique().tolist()

In [100]:
#comb3.loc[(comb3['SERIAL'].isin(overseas_serials), 'overseas_hhold'] = 1
comb3.loc[(comb3['SERIAL'].isin(disabled_list)), 'disabled'] = 1
comb3.loc[~(comb3['SERIAL'].isin(disabled_list)), 'disabled'] = 0

In [101]:
unq_disabled = comb3.drop_duplicates(subset = ['SERIAL'], keep = 'first')
#unq_disabled

In [102]:
num_disabled = unq_disabled.groupby(['GEOLEV2'])['disabled'].sum()
#num_disabled

In [103]:
sovi['num_disabled'] = num_disabled.tolist()
#sovi.head()

In [104]:
sovi['sovi11'] = (sovi['num_disabled']/sovi['num_hholds'])
#sovi.head()

# % of non-secondary grads as household heads

In [105]:
comb3.head()

,COUNTRY,YEAR,SAMPLE,SERIAL,PERSONS,HHWT,SUBSAMP,GQ,UNREL,GEOLEV1,GEOLEV2,GEO1_PH,GEO1_PH2010,GEO2_PH,GEO2_PH2010,OWNERSHIP,OWNERSHIPD,LANDOWN,TOILET,WALL,ROOF,BUILTYR,AGESTRUCT2,LIVEAREA,HHTYPE,NFAMS,NCOUPLES,NMOTHERS,NFATHERS,HEADLOC,PERNUM,PERWT,RELATE,RELATED,AGE,SEX,EDUCPH,OVERSEA,PERNUM_HEAD,PERWT_HEAD,RELATE_HEAD,RELATED_HEAD,AGE_HEAD,SEX_HEAD,EDUCPH_HEAD,OVERSEA_HEAD,children,elderly,adult,adults_no_sec_degree,age20_39,fem20_39,fem20_39_nodeg,overseas_hhold,hhold_over30,area10,tenure,disabled
0,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,10.58,1.0,1000.0,39.0,0.0,44.0,2.0,1.0,10.58,1.0,1000.0,39.0,0.0,44.0,2.0,0.0,0.0,1.0,NaN,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,8.82,2.0,2000.0,36.0,1.0,33.0,2.0,1.0,10.58,1.0,1000.0,39.0,0.0,44.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
2,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,3.0,8.82,3.0,3000.0,12.0,1.0,33.0,2.0,1.0,10.58,1.0,1000.0,39.0,0.0,44.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,4.0,8.82,3.0,3000.0,10.0,1.0,31.0,2.0,1.0,10.58,1.0,1000.0,39.0,0.0,44.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,608.0,2010.0,608201001.0,1000.0,7.0,9.7,26.0,10.0,0.0,608059.0,608059005.0,608059.0,59.0,608059005.0,59004.0,1.0,100.0,10.0,10.0,300.0,44.0,2000.0,15.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,5.0,11.04,3.0,3000.0,9.0,1.0,23.0,0.0,1.0,10.58,1.0,1000.0,39.0,0.0,44.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [106]:
comb3['head_education'] = np.nan

In [107]:
#comb3.loc[((comb3['EDUCPH'] == 1) & (comb['EDUCPH'] <= 43)), 'adults_no_sec_degree'] = 1
comb3.loc[(comb3['EDUCPH_HEAD'] <= 43), 'head_education'] = 1
comb3.loc[(comb3['EDUCPH_HEAD'] > 43), 'head_education'] = 0

In [108]:
unq_edu_head = comb3.drop_duplicates(subset = ['SERIAL'], keep = 'first')
#unq_edu_head

In [109]:
num_edu_head = unq_edu_head.groupby(['GEOLEV2'])['head_education'].sum()
#num_edu_head

In [110]:
sovi['num_head_education'] = num_edu_head.tolist()
#sovi.head()

In [111]:
sovi['sovi12'] = (sovi['num_head_education']/sovi['num_hholds'])
#sovi.head()

In [112]:
sovi.to_csv('./phil_sovi_updated.csv')